<nav>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="linkActiveOptions" #rla1="routerLinkActive">Home ({{rla1.isActive}})</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" fragment="about" routerLinkActive="active" [routerLinkActiveOptions]="linkActiveOptions" #rla2="routerLinkActive">About ({{rla2.isActive}})</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" fragment="contact" routerLinkActive="active" [routerLinkActiveOptions]="linkActiveOptions" #rla3="routerLinkActive">Contact ({{rla3.isActive}})</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/dynamic" fragment="" routerLinkActive="active" [routerLinkActiveOptions]="linkActiveOptions" #rla4="routerLinkActive">Dynamic ({{rla4.isActive}})</a>
  </li>
</nav>
<router-outlet></router-outlet>
<app-home></app-home>
<app-about></app-about>
<app-contact></app-contact>
 

